/*
    公用按钮样式
*/

/*公用背景及侧边栏*/
.publicWrap{
    width:2048px;
    height:1536px;
    background: url("../pic/publicBg.jpg");
    position: relative;
}
.publicTit{
    font-size: 36px;
    color: #e6e6e6;
    width:280px;
    line-height: 36px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    left: 155px;
    top: 252px;
}
.publicBack{
    display: flex;
    justify-items: baseline;
    font-size: 34px;
    color: #e6e6e6;
    line-height: 42px;
    text-align: center;
    position: absolute;
    bottom: 82px;
    left: 155px;
    text-decoration: underline;
}
.publicTabList{
    width:340px;
    height:634px;
    position: absolute;
    left: 95px;
    top: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.publicTabList span{
    width:318px;
    height:75px;
}
.publicTabTit1{
    background: url("../pic/publicTabLight1.png");
}
.publicTabTit1a{
    background: url("../pic/publicTabLight2.png");
}
.publicTabTit2{
    background: url("../pic/publicTabDevice1.png");
}
.publicTabTit2a{
    background: url("../pic/publicTabDevice2.png");
}
.publicTabTit3{
    background: url("../pic/publicTabElement1.png");
}
.publicTabTit3a{
    background: url("../pic/publicTabElement2.png");
}
.back{
    display: flex;
}
.back:active #goBack{
    color:#00a6c4;
}
.back:active #back{
    color:#00a6c4;
}
.back:active .backIcon{
    background:url("../pic/backIconA.png");
}
.backIcon{
    width:45px;
    height:45px;
    background: url("../pic/backIcon.png");
    margin-right: 22px;
}
.backText{
    height:36px;
}

/*双按钮组建*/
.doubleBtnWrap{
    display: flex;
    justify-content: space-between;
}
.btnTitle{
    width:252px;
    height:86px;
    font-size: 34px;
    line-height: 86px;
    color: #e6e6e6;
}
.doubleBtn{
    display: flex;
    justify-content: space-between;
    width:721px;
}
.btnDefault{
    background: #e6e6e6;
    color: #00a6c4;
}
.btnActive{
    background: #00a6c4;
    color: #e6e6e6;
}
.largeBtn{
    width:300px;
    height:86px;
    border-radius: 10px;
    line-height: 86px;
    font-size: 34px;
    text-align: center;
}
.smallBtn{
    width:160px;
    height:86px;
    border-radius: 10px;
    line-height: 86px;
    font-size: 34px;
    text-align: center;
}

/*音量组建*/
.adjustBtn{
    display: flex;
    justify-content: space-between;
}
.voiceControl{
    width:721px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adjustWrap{
    display: flex;
    justify-content: space-between;
    width:160px;
    height:46px;
}
.adjustWrap span{
    width:12px;
    height:46px;
    border-radius: 5px;
    background: #e6e6e6;
}
.adjustWrap .volAct{
    color:#e6e6e6;
    background: #00a6c4;
}
.volDown:active{
    color:#e6e6e6;
    background: #00a6c4;
}
.volUp:active{
    color:#e6e6e6;
    background: #00a6c4;
}
.volUp:focus{
    color:#e6e6e6;
    background: #00a6c4;
}

/*灯光预设样式*/
.publicLightWrap{
    width:300px;
    height:830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right:600px;
    top: 355px;
    cursor: pointer;
}

.publicLightWrap span{
    width:300px;
    height:86px;
    border-radius: 10px;
    background: #e6e6e6;
    text-align: center;
    line-height: 86px;
    font-size: 34px;
    color: #00a6c4;
}
.publicLightWrap .lightClick{
    background: #00a6c4;
    color: #e6e6e6;
}

/*展项控制 更多*/
.publicMore{
    width:1428px;
    height:80px;
    position: absolute;
    left: 30px;
}
.line{
    background: url("../pic/line.png");
    width:1348px;
    height:4px;
    position: absolute;
    top: 38px;
    left: 0;
}
.more,.moreA{
    width:80px;
    height:80px;
    position: absolute;
    right:0;
    top: 0;
}
.more{
    background: url("../pic/more.png");
}
.moreA{
    background: url("../pic/moreA.png");
}
/*视频播放组建*/
.player{
    width:974px;
    height:262px;
    display: flex;
    justify-items: center;
}
.playerTitle{
    font-size: 34px;
    line-height: 262px;
    color: #e6e6e6;
    width:252px;
    height:262px;
    background:url("../pic/playerTitBg.png") no-repeat;
}
.playerBtn{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.playerCtrl{
    width: 721px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playBtnDefault1{
    background: url("../pic/playBtnDefault1.png");
}
.playBtnDefault1a{
    background: url("../pic/playBtnDefault1a.png");
}
.playBtnDefault2{
    background: url("../pic/playBtnDefault2.png");
}.playBtnDefault2a{
     background: url("../pic/playBtnDefault2a.png");
 }
.playBtnDefault3{
    background: url("../pic/playBtnDefault3.png");
}.playBtnDefault3a {
     background: url("../pic/playBtnDefault3a.png");
 }
/*一排标题二排双钮组建*/
.lightCtrlWrap{
    height:178px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lightCtrl{
    width:974px;
    height:90px;
    font-size: 34px;
    color: #e6e6e6;
}

/*功能区*/
.containerWrap{
    width:1524px;
    height:1536px;
    position: absolute;
    left: 524px;
}
.interactiveWrap{
    width:1524px;
    height:1536px;
    position: absolute;
}
.ctrlWrap{
    width:1525px;
    height:1300px;
    position: absolute;
    bottom: 0;
    right:0;
}

.line2{
    width:4px;
    height:767px;
    position: absolute;
    left: 798px;
    top: 80px;
    background: url("../pic/line2.png");
}

/*箭头列表*/
.crowTitList{
    display: flex;
    justify-content: space-between;
    font-size: 34px;
    line-height: 40px;

}
.crowTit{
    color:#e6e6e6;
    width:100%;
    height:40px;
    background: url("../pic/litListBg1.png") no-repeat;
    padding-left: 30px;
}
.crowTita{
    color:#00a6c4;
    background: url("../pic/litListBg2.png") no-repeat;
    padding-left: 30px;
    text-decoration: underline;
}
.crow{
    background: url("../pic/crow.png");
    width:19px;
    height:32px;
    margin-right: 10px;
    line-height: 40px;
}
.crowa{
    background: url("../pic/crowa.png");
    width:19px;
    height:32px;
    margin-right: 10px;
    line-height: 40px;
}
.voiceControl a{
    font-size: 52px;
    font-weight: 800;
}


/*首页*/

.indexWrap{
    background:url("../pic/areaCrow.png");
    width:2048px;
    height:1536px;
    overflow: hidden;
    position: relative;
}
.indexCir{
    position: absolute;
    left: 50%;
    top: 50%;
}
.indexCir.cir1{
    background: url("../pic/indexCir1.png");
    width:1624px;
    height:1624px;
    margin-left: -812px;
    margin-top: -812px;
    -webkit-animation:cirAniP 3s linear infinite;
}
.indexCir.cir2{
    background: url("../pic/indexCir2.png");
    width:1247px;
    height:1247px;
    margin-left: -639px;
    margin-top: -639px;
    -webkit-animation:cirAniN 3s linear infinite;
}
.indexCir.cir3{
    background: url("../pic/indexCir3.png");
    width:612px;
    height:612px;
    margin-left: -306px;
    margin-top: -306px;
    -webkit-animation:cirAniP 3s linear infinite;
}

.indexLink{
    position: absolute;
    right:184px;
    bottom:112px;
    height:182px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.areaLink{
    display: flex;
    align-items: baseline;
    font-size: 54px;
    color: #e6e6e6;
}
.areaCrow{
    background: url("../pic/areaCrowNull.png");
    width:23px;
    height:40px;
    margin-right: 34px;
}
.areaLink:active .areaCrow{
    background: url("../pic/areaCrowFocus.png");
}
.areaLink:active {
    color:#00a6c4;
}

@keyframes cirAniP {
    to { -webkit-transform: rotate(360deg) }
}
@keyframes cirAniN {
    to { -webkit-transform: rotate(-360deg) }
}

/*公用背景及侧边栏*/
.publicWrap{
    width:2048px;
    height:1536px;
    background: url("../pic/publicBg.jpg");
    position: relative;
}
.publicTit{
    font-size: 36px;
    color: #e6e6e6;
    width:280px;
    line-height: 36px;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    left: 155px;
    top: 252px;
}
.publicBack{
    display: flex;
    justify-items: baseline;
    font-size: 34px;
    color: #e6e6e6;
    line-height: 42px;
    text-align: center;
    position: absolute;
    bottom: 82px;
    left: 155px;
}
.publicTabList{
    width:340px;
    height:634px;
    position: absolute;
    left: 95px;
    top: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.publicTabList span{
    width:318px;
    height:75px;
}
.publicTabTit1{
    background: url("../pic/publicTabLight1.png");
}
.publicTabTit1a{
    background: url("../pic/publicTabLight2.png");
}
.publicTabTit2{
    background: url("../pic/publicTabDevice1.png");
}
.publicTabTit2a{
    background: url("../pic/publicTabDevice2.png");
}
.publicTabTit3{
    background: url("../pic/publicTabElement1.png");
}
.publicTabTit3a{
    background: url("../pic/publicTabElement2.png");
}
.backIcon{
    width:45px;
    height:45px;
    background: url("../pic/backIcon.png");
    margin-right: 22px;
}
.backText{
    height:42px;
}

/*公用按钮样式*/
.doubleBtnWrap{
    display: flex;
    justify-content: space-between;
}
.doubleBtn{
    display: flex;
    justify-content: space-between;
    width:721px;
}
.btnDefault{
    background: #e6e6e6;
    color: #00a6c4;
}
.btnActive{
    background: #00a6c4;
    color: #e6e6e6;
}

.largeBtn{
    width:300px;
    height:86px;
    border-radius: 10px;
    line-height: 86px;
    font-size: 34px;
    text-align: center;
}
.smallBtn{
    width:160px;
    height:86px;
    border-radius: 10px;
    line-height: 86px;
    font-size: 34px;
    text-align: center;
}
.btnTitle{
    width:252px;
    height:86px;
    font-size: 34px;
    line-height: 86px;
    color: #e6e6e6;
}
.adjustBtn{
    display: flex;
    justify-content: space-between;
}
.voiceControl{
    width:721px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adjustWrap{
    display: flex;
    justify-content: space-between;
    width:160px;
    height:46px;
}
.adjustWrap span{
    width:12px;
    height:46px;
    border-radius: 5px;
    background: #e6e6e6;
}
.adjustWrap .volAct{
    background: #00a6c4;
}
.volDown:focus{
    color:#e6e6e6;
    background: #00a6c4;
}
.volUp:focus{
    color:#e6e6e6;
    background: #00a6c4;
}
.containerWrap{
    width:1524px;
    height:1536px;
    position: absolute;
    left: 524px;
}
.interactiveWrap{
    width:1524px;
    height:1536px;
    position: absolute;
}
.ctrlWrap{
    width:1525px;
    height:1300px;
    position: absolute;
    bottom: 0;
    right:0;
}


/*灯光预设样式*/
.publicLightWrap{
    width:300px;
    height:830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right:600px;
    top: 355px;
    cursor: pointer;
}

.publicLightWrap span{
    width:300px;
    height:86px;
    border-radius: 10px;
    background: #e6e6e6;
    text-align: center;
    line-height: 86px;
    font-size: 34px;
    color: #00a6c4;
}
.publicLightWrap .lightClick{
    background: #00a6c4;
    color: #e6e6e6;
}
.publicMore{
    width:1428px;
    height:80px;
    position: absolute;
    left: 30px;
}
.line{
    background: url("../pic/line.png");
    width:1348px;
    height:4px;
    position: absolute;
    top: 38px;
    left: 0;
}
.more,.moreA{
    width:80px;
    height:80px;
    position: absolute;
    right:0;
    top: 0;
}
.more{
    background: url("../pic/more.png");
}
.moreA{
    background: url("../pic/moreA.png");
}
.player{
    width:974px;
    height:262px;
    display: flex;
    justify-items: center;
}
.playerTitle{
    font-size: 34px;
    line-height: 262px;
    color: #e6e6e6;
    width:252px;
    height:262px;
    background:url("../pic/playerTitBg.png") no-repeat;
}
.playerBtn{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.playerCtrl{
    width: 721px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playBtnDefault1{
    background: url("../pic/playBtnDefault1.png");
}
.playBtnDefault1a{
    background: url("../pic/playBtnDefault1a.png");
}
.playBtnDefault2{
    background: url("../pic/playBtnDefault2.png");
}.playBtnDefault2a{
     background: url("../pic/playBtnDefault2a.png");
 }
.playBtnDefault3{
    background: url("../pic/playBtnDefault3.png");
}.playBtnDefault3a {
     background: url("../pic/playBtnDefault3a.png");
 }
 .lightCtrlWrap{
     height:178px;
     width:974px;
     display: flex;
     flex-direction: column;
 }
 .lightCtrl{
     width:974px;
     height:90px;
     font-size: 34px;
     color: #e6e6e6;
 }

/*西部展项控制tab标签*/
.elCtrlTabTitWrap{
    display:flex;
    width:1290px;
    justify-content: space-between;
    align-items: baseline;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    left: 118px;
    top: 112px;
    background: url("../pic/ctrlTitLine.png");
}
.elCtrlTabTit{
    width:158px;
    height:90px;
    color:#e6e6e6;
}
.elCtrlTabTita{
    color:#00a6c4;
    text-decoration:underline ;
}
/*西部序厅内容页面*/
.westLobbyColumn1,.westLobbyColumn2{
    position: absolute;
    left: 257px;
    top: 264px;
    width:974px;
    height:690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*西部清洁能源产业链内容页面*/
.westLobbyColumn1,.westLobbyColumn2{
    position: absolute;
    left: 257px;
    top: 264px;
    width:974px;
    height:690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*西部开启能源物联时代内容页面*/
.westLiveLabColumn1,.westLiveLabColumn2{
    position: absolute;
    left: 257px;
    top: 170px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westLiveLabColumn1{
    height:942px;
}
.westLiveLabColumn2{
    height:853px;
}
/*西部泛能网平台内容页面*/
.westForumColumn1,.westForumColumn2{
    position: absolute;
    left: 257px;
    top: 264px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westForumColumn1{
    height:1000px;
}
.westForumColumn2{
    height:950px;
}
/*西部美丽生态内容页面*/
.westEcologyColumn1{
    position: absolute;
    left: 257px;
    top: 210px;
    width:974px;
    height:848px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westEcologyColumn2{
    position: absolute;
    left: 66px;
    top: 160px;
    width:1400px;
    height:716px;
    display: flex;
    justify-content: space-between;
}
.columnWrap{
    width:650px;
    height:716px;
    display: flex;
   flex-direction: column;
    justify-content: space-between;
}
.line2{
    width:4px;
    height:767px;
    position: absolute;
    left: 700px;
    top: 80px;
    background: url("../pic/line2.png");
}
/*西部企业文化内容页面*/
.westCultureColumn1,.westCultureColumn2{
    position: absolute;
    left: 257px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westCultureColumn1{
    top: 264px;
    height:700px;
}
.westCultureColumn2{
    top: 570px;
    height:86px;
}

/*西部设备控制*/
.publicDevice{
    display: flex;
    width:966px;
    height:302px;
    position: absolute;
    left: 275px;
    top: 617px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}
/*东部设备控制*/
.eastDevice{
    display: flex;
    width:966px;
    height:1140px;
    position: absolute;
    left: 275px;
    top: 205px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}
.eastCtrlWrap{
    height:720px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*西部展项控制tab标签*/
.westCtrlTabTitWrap{
    display:flex;
    width:1290px;
    height:90px;
    justify-content: space-between;
    align-items: center;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    left: 118px;
    top: 112px;
    background: url("../pic/ctrlTitLine.png");
}
.westCtrlTabTit{
    width:158px;
    height:90px;
    color:#e6e6e6;
    display: flex;
    flex-direction: column;
}
.westCtrlTabTita{
    color:#00a6c4;
    text-decoration:underline ;
}
/*西部序厅内容页面*/
.westLobbyColumn1,.westLobbyColumn2{
    position: absolute;
    left: 257px;
    top: 264px;
    width:974px;
    height:690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*西部清洁能源产业链内容页面*/
.westLobbyColumn1,.westLobbyColumn2{
    position: absolute;
    left: 257px;
    top: 264px;
    width:974px;
    height:690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*西部开启能源物联时代内容页面*/
.westLiveLabColumn1,.westLiveLabColumn2{
    position: absolute;
    left: 257px;
    top: 170px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westLiveLabColumn1{
    height:942px;
}
.westLiveLabColumn2{
    height:853px;
}
/*西部泛能网平台内容页面*/
.westForumColumn1,.westForumColumn2{
    position: absolute;
    left: 257px;
    top: 264px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westForumColumn1{
    height:1000px;
}
.westForumColumn2{
    height:950px;
}
/*西部美丽生态内容页面*/
.westEcologyColumn1{
    position: absolute;
    left: 257px;
    top: 210px;
    width:974px;
    height:848px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westEcologyColumn2{
    position: absolute;
    left: 66px;
    top: 160px;
    width:1400px;
    height:716px;
    display: flex;
    justify-content: space-between;
}
.columnWrap{
    width:650px;
    height:716px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*西部企业文化内容页面*/
.westCultureColumn1,.westCultureColumn2{
    position: absolute;
    left: 257px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westCultureColumn1{
    top: 264px;
    height:700px;
}
.westCultureColumn2{
    top: 570px;
    height:86px;
}

/*西部设备控制*/
.westDevice{
    display: flex;
    width:966px;
    height:302px;
    position: absolute;
    left: 275px;
    top: 617px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}
/*清洁能源产业链*/
.clearWrap1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 247px;
    top: 220px;
    width:974px;
    height:604px;
}
.clearWrap2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 247px;
    top: 220px;
    width:974px;
    height:836px;
}
.clearWrap3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 247px;
    top: 220px;
    width:974px;
    height:564px;
}
.clearWrap4{
    width:1400px;
    height:808px;
    left: 66px;
    top: 180px;
    position: absolute;
    display: flex;
    justify-content: space-between;

}
.line3{
    width:4px;
    height:767px;
    position: absolute;
    left: 700px;
    top: 140px;
    background: url("../pic/line2.png");
}
.clearWrapColumn{
    width:650px;
    height:808px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.crowSocial{
    width:1200px;
    height:108px;
    flex-wrap: wrap;
    justify-content: left;
}
.crowSocialMove{
    width:1200px;
    height:108px;
    flex-wrap: wrap;
    justify-content: left;
}
.crowSocial2{
    width:1200px;
    height:108px;
    justify-content: left;
}
.reset{
    background: url("../pic/reset.png");
    width:48px;
    height:48px;
    margin-right: 20px;
}
.next{
    background: url("../pic/next.png");
    width:48px;
    height:48px;
    margin-right: 20px;
}
.clearBtn{
    display: flex;
    justify-content: space-between;
    position: absolute;
    font-size: 34px;
    color: #e6e6e6;
    right:100px;
    bottom:82px;
    line-height: 68px;
    height:68px;
    width:400px;
}
.clearBtn span{
    display: flex;
    align-items: center;
}
.clearMovieWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 247px;
    bottom: 280px;
    width:974px;
    height:836px;
}
.clearNextPage{
    position: absolute;
    bottom:82px ;
    right:100px;
    display: flex;
    align-items: center;
    font-size: 34px;
    color: #e6e6e6;
}
.nextPageIcon{
    width:48px;
    height:48px;
    background: url("../pic/nextPage.png");
    margin-right: 20px;
}
.lastPageIcon{
    width:48px;
    height:48px;
    background: url("../pic/lastPage.png");
    margin-right: 20px;
}


/*东部设备控制*/
.eastDevice{
    display: flex;
    width:966px;
    height:1140px;
    position: absolute;
    left: 275px;
    top: 205px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}
.eastCtrlWrap{
    height:720px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*东部展项控制tab标题*/
.eastCtrlTabTitWrap {
    display: flex;
    width: 1290px;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    left: 118px;
    top: 112px;
    background: url(../pic/ctrlTitLine2.png);
}
.eastCtrlTabTit{
    width:258px;
    height:90px;
    color:#e6e6e6;
    display: flex;
    flex-direction: column;
}
.eastCtrlTabTita{
    color:#00a6c4;
    text-decoration:underline ;
}
/*东部序厅内容页面*/
.eastLobbyColumn{
    width:974px;
    height:615px;
    position: absolute;
    left: 257px;
    top: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*箭头列表生活定位*/
.crowLive{
    position: absolute;
    left: 257px;
    top: 153px;
}
.crowLive span{
    width:370px;
    height:40px;
    display: flex;
    align-items: baseline;
}
/*品质生活*/
.lifeCrowColumn1{
    position: absolute;
    justify-content: space-between;
    width:974px;
    height:705px;
    left: 247px;
    top: 343px;
    display: flex;
    flex-direction: column;
}
.lifeCrowColumn2{
    position: absolute;
    justify-content: space-between;
    width:974px;
    height:518px;
    left: 247px;
    top: 343px;
    display: flex;
    flex-direction: column;
}
.lifeColumn{
    width:974px;
    height:86px;
    position: absolute;
    top: 370px;
    left: 247px;
}
/*家庭服务与健康平台*/
.eastHomeColumn1{
    position: absolute;
    left: 247px;
    top: 134px;
    width: 974px;
    height: 1013px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.eastHomeColumn2{
    position: absolute;
    left: 247px;
    top: 134px;
    width: 974px;
    height: 588px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*智慧企业*/
.eastCompany1{
    position: absolute;
    left: 247px;
    top: 364px;
    width: 974px;
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.eastCompany2{
    position: absolute;
    left: 247px;
    top: 252px;
    width: 974px;
    height: 616px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*社会责任*/
.crowSocial{
    width:974px;
    position: absolute;
    left: 257px;
    top: 153px
}
.crowSocialMoney{
    position: absolute;
    left: 257px;
    top: 153px
}
.SocialCrowColumn{
    position: absolute;
    left: 247px;
    top: 300px;
    width:974px;
    height:266px;
}
.crowSocialColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 247px;
    top: 700px;
    width:974px;
    height:438px;
}
.SocialColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 247px;
    top: 247px;
    width:974px;
    height:604px;
}

/*遮罩层*/
.popWrap{
    position: fixed;
    left: 0;
    top: 0;
    width:2048px;
    height:1536px;
    z-index: 99999;
    font-family: "Microsoft YaHei";
}
.popCover{
    background: #000;
    opacity: .6;
    width:100%;
    height:100%;
}
.popColumn{
    width:740px;
    height:340px;
    position: absolute;
    right:400px;
    bottom:600px;
    background: #dcdddd;
    opacity: .86;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.popColumn .t1{
    font-size: 34px;
    margin-top: 60px;
}
.popColumn .t2{
    font-size: 28px;
    margin-top: 40px;
    padding-bottom: 60px;
    border-bottom: solid 4px #999999;
}
.popChose{
    width:100%;
    height:116px;
    font-size: 28px;
    display: flex;
}
.popCHoseBtnL{
    width:370px;
    height:100%;
    text-align: center;
    line-height: 116px;
    color: black;
}
.popCHoseBtnR{
    width:370px;
    height:100%;
    text-align: center;
    line-height: 116px;
    color: black;
}
.popCHoseBtn{
    width:370px;
    height:100%;
    text-align: center;
    line-height: 116px;
    color: black;
}
.popCHoseBtnL:active{
    background: #00a6c4;
    color:#e6e6e6;
    border-bottom-left-radius: 50px
}
.popCHoseBtnR:active{
    background: #00a6c4;
    color:#e6e6e6;
    border-bottom-right-radius: 50px

}