/*西部展项控制tab标签*/
.westCtrlTabTitWrap{
    display:flex;
    width:1290px;
    justify-content: space-between;
    align-items: baseline;
    font-size: 38px;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    left: 118px;
    top: 112px;
    background: url("../pic/ctrlTitLine.png");
}
.westCtrlTabTit{
    width:158px;
    height:90px;
    color:#e6e6e6;
}
.westCtrlTabTita{
    color:#00a6c4;
    text-decoration:underline ;
}
/*西部序厅内容页面*/
.westLobbyColumn1,.westLobbyColumn2{
    position: absolute;
    left: 257px;
    top: 264px;
    width:974px;
    height:690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*西部清洁能源产业链内容页面*/
.westLobbyColumn1,.westLobbyColumn2{
    position: absolute;
    left: 257px;
    top: 264px;
    width:974px;
    height:690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*西部开启能源物联时代内容页面*/
.westLiveLabColumn1,.westLiveLabColumn2{
    position: absolute;
    left: 257px;
    top: 170px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westLiveLabColumn1{
    height:942px;
}
.westLiveLabColumn2{
    height:853px;
}
/*西部泛能网平台内容页面*/
.westForumColumn1,.westForumColumn2{
    position: absolute;
    left: 257px;
    top: 264px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westForumColumn1{
    height:1000px;
}
.westForumColumn2{
    height:950px;
}
/*西部美丽生态内容页面*/
.westEcologyColumn1{
    position: absolute;
    left: 257px;
    top: 210px;
    width:974px;
    height:848px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westEcologyColumn2{
    position: absolute;
    left: 66px;
    top: 160px;
    width:1400px;
    height:716px;
    display: flex;
    justify-content: space-between;
}
.columnWrap{
    width:650px;
    height:716px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*西部企业文化内容页面*/
.westCultureColumn1,.westCultureColumn2{
    position: absolute;
    left: 257px;
    width:974px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.westCultureColumn1{
    top: 264px;
    height:700px;
}
.westCultureColumn2{
    top: 570px;
    height:86px;
}

/*西部设备控制*/
.westDevice{
    display: flex;
    width:966px;
    height:302px;
    position: absolute;
    left: 275px;
    top: 617px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}